@import "base/reset";
@import "base/typography";
@import "utils/variables";
@import "utils/mixin";
@import "utils/functions";

.calendar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  margin: 10vh auto;
  width: 706px;
}
