@mixin days {
  @each $day, $count in (tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6) {
    .calendar-#{$day} div:first-child {
      margin-left: $calendarDayMargin * $count;
    }
  }
}

@mixin calc($a) {
  div:nth-child(#{$a}) {
    display: flex;
    position: relative;
    background-color: $blockBGColor;
    border: 1px solid $blockBorderColor;
    height: $rectangleSize;
    width: $rectangleSize;
    transition: transform 0.5s, background-color 0.5s;
    &::before {
      content: "#{$a}";
      display: block;
      margin: auto;
      color: $numberColor;
    }
    &:hover {
      cursor: pointer;
      background-color: $hoverBlockBGcolor;
      transform: translate(0, -20px);
    }
  }
}
